<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ meta.title }} | {{ site_title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ meta.description|striptags }}" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:type"   content="article" /> 
	<meta property="og:title" content="{{ meta.title }}"/>
	<meta property="og:image" content="{{ meta.featured }}"/>
	<meta property="og:url" content="{{ current_page.url }}"/>
	<meta property="og:site_name" content="{{ site_title }}"/>
	<meta property="og:description" content="{{ meta.description|striptags }}"/>
	<meta property="article:publisher" content="{{ config.authorfacebook }}" />
	<meta property="article:author" content="{{ config.authorfacebook }}" />
	<meta property="article:published_time" content="{{ current_page.date }}" />
	<meta name="twitter:title" content="{{ meta.title }}" />
	<meta name="twitter:image" content="{{ meta.featured }}" />
	<meta name="twitter:url" content="{{ current_page.url }}" />
	<meta name="twitter:card" content="summary_large_image" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{{ theme_url }}/favicon.ico">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<!-- Animate -->
	<link rel="stylesheet" href="{{ theme_url }}/css/animate.css">
	<!-- Icomoon -->
	<link rel="stylesheet" href="{{ theme_url }}/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ theme_url }}/css/bootstrap.css">

	<link rel="stylesheet" href="{{ theme_url }}/css/style.css">


	<!-- Modernizr JS -->
	<script src="{{ theme_url }}/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ theme_url }}/js/respond.min.js"></script>
	<![endif]-->
	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "BlogPosting",
	  "mainEntityOfPage":{
		"@type":"WebPage",
		"@id":"{{ current_page.url }}"
	  },
	  "headline": "{{ current_page.title }}",
	  "image": {
		"@type": "ImageObject",
		"url": "{{ meta.featured }}",
		"height": 636,
		"width": 947
	  },
	  "datePublished": "{{ meta.date }}",
	  "dateModified": "{{ meta.date }}",
	  "author": {
		"@type": "Person",
		"name": "{{ config.author }}"
	  },
	   "publisher": {
		"@type": "Organization",
		"name": "{{ site_title }}",
		"logo": {
		  "@type": "ImageObject",
		  "url": "{{ config.authorimage }}",
		  "width": 60,
		  "height": 60
		}
	  },
	  "description": "{{ meta.description }}"
	}
	</script>
	</head>
	<body>
	<div id="fh5co-offcanvas" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
		<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
		<div class="fh5co-bio">
			<figure>
				{% if config.authorimage %}
				<img src="{{assets_url}}/{{ config.authorimage }}" alt="{{ config.author }}" class="img-responsive">
				{% else %}
				<img src="{{ theme_url }}/images/person1.jpg" alt="{{ config.author }}" class="img-responsive">
				{% endif %}
			</figure>
			<h3 class="heading">About Me</h3>
			<h2>{{ config.author }}</h2>
			<p>{{ config.authordescription }}</p>
			<ul class="fh5co-social">
				{% if config.authortwitter %}
				<li><a href="{{ config.authortwitter }}"><i class="icon-twitter"></i></a></li>
				{% endif %}
				{% if config.authorfacebook %}
				<li><a href="{{ config.authorfacebook }}"><i class="icon-facebook"></i></a></li>
				{% endif %}
				{% if config.authorinstagram %}
				<li><a href="{{ config.authorinstagram }}"><i class="icon-instagram"></i></a></li>
				{% endif %}
			</ul>
		</div>

		<div class="fh5co-menu">
			<div class="fh5co-box">
				<h3 class="heading">Categories</h3>
				{% if meta.purpose == "pico_categories_page" %}
				<ul>
                                        {% for cat, cated_pages in pico_categories_page %}
                                        <li>
                                                <h4><b>{{ cat }}</b></h4>
                                                <ul>
                                                        {% for cated_page_title, cated_page_link in cated_pages %}
                                                                <li><a href="{{ cated_page_link }}">{{ cated_page_title }}</a></li>
                                                        {% endfor %}
                                                </ul>
						<p/>
                                        </li>
                                        {% endfor %}
				</ul>
				{% endif %}
			</div>
			<div class="fh5co-box">
				<h3 class="heading">Search</h3>
				<form action="{{ 'search'|link }}" method="get">
					<div class="form-group">
						<input type="text" name="q" class="form-control" placeholder="Type a keyword">
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- END #fh5co-offcanvas -->
	<header id="fh5co-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
		
		<div class="container-fluid">

			<div class="row">
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
				<ul class="fh5co-social">
					<li><a href="https://twitter.com/intent/tweet?text={{ site_title }} :&url={{ current_page.url }}"><i class="icon-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ current_page.url }}"><i class="icon-facebook"></i></a></li>				
					<li><a href="https://plus.google.com/share?url={{ current_page.url }}"><i class="icon-google"></i></a></li>
					<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source={{ current_page.url }}"><i class="icon-linkedin"></i></a></li>
				</ul>
				<div class="col-lg-12 col-md-12 text-center">
					<h1 id="fh5co-logo" itemprop="name"><a href="{{ base_url }}" itemprop="url">{{ site_title }} <sup>TM</sup></a></h1>
				</div>

			</div>
		
		</div>

	</header>
	{% if prev_page.meta.template == "single" %}
	<a href="{{ prev_page.url }}" class="fh5co-post-prev"><span><i class="icon-chevron-left"></i> Prev</span></a>
	{% endif %}
	{% if next_page.meta.template == "single" %}
	<a href="{{ next_page.url }}" class="fh5co-post-next"><span>Next <i class="icon-chevron-right"></i></span></a>
	{% endif %}
	<!-- END #fh5co-header -->
	<div class="container-fluid">
		<div class="row fh5co-post-entry single-entry hfeed">
			<article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 hentry">
				<figure class="animate-box">
					<img src="{{assets_url}}/{{ meta.featured }}" alt="{{ meta.title }}" class="img-responsive">
				</figure>
				<span class="fh5co-meta animate-box"><a href="#">{{ meta.category }}</a></span>
				<h2 class="fh5co-article-title animate-box entry-title"><a href="{{ current_page.url }}">{{ meta.title }}</a></h2>
				<span class="fh5co-meta fh5co-date animate-box">{{ meta.date }}</span>
				<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article entry-content">
					{{ content }}
				</div>
			</article>
		</div>
	</div>

	<footer id="fh5co-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
		<p><small>&copy; 2016. {{ site_title }}. All Rights Reserverd. <br> Designed by <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a>  Developed By : <a href="http://besrourms.github.io/" target="_blank" itemprop="creator">Safouan Besrour</a></small></p>
	</footer>
	
	<!-- jQuery -->
	<script src="{{ theme_url }}/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="{{ theme_url }}/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script defer src="{{ theme_url }}/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script defer src="{{ theme_url }}/js/jquery.waypoints.min.js"></script>
	<!-- Main JS -->
	<script src="{{ theme_url }}/js/main.js"></script>

	</body>
</html>
