{% include 'partials/header.twig' %}

<main>
    <p class="notice">{{ meta.notice }}</p>

    <h2>Pages</h2>
    <ul>
    
    {% for page in pages %}
        {% if page.meta.page_type != "SoftwareApplication" %}

        <li><a href="{{ page.url }}">{{ page.meta.menu_title ? page.meta.menu_title : page.meta.h1  }}</a></li>
        
        {% endif %}
    {% endfor %}

    </ul>

    <h2>Tools</h2>
    <ul>

    {% for page in pages("tools") %}

        <li><a href="{{ page.url }}">{{ page.meta.menu_title ? page.meta.menu_title : page.meta.h1  }}</a></li>
    
    {% endfor %}

    </ul>
</main>

{% include 'partials/footer.twig' %}